/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #0F1923 !important;
  color: #fff !important;
  font-family: 'Centra' sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/* End Default CSS */

/* Main Banner */
.logo {
  width: 250px;
  height: 250px;
}

h1 {
  font-weight: 700px;
}

.slogan {
  font-size: 4.5em;
}

@media (max-width: 767px) {
  .slogan {
    font-size: 2.0em;
  }
}

.banner-container {
  opacity: 0;
  transform: translateX(-350px);
  animation: fadeInUp 1s forwards, slideIn 1s forwards;
}

.text-container {
  text-align: center;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
/* End Main Banner */